html,
body {
	overflow-y: hidden;
}

body {
	background: #222;
}

* {
	padding: 0;
	margin: 0;
}

*[hidden] {
	display: none;
}

canvas {
	display: block;
	width: 300px;
	height: 540px;
	padding: 3px;
	box-sizing: border-box;
}

div.background {
	z-index: -1;
}

div.black-canvas-box {
	position: absolute;
	width: 294px;
	height: 534px;
	margin: 3px;
	box-sizing: border-box;
	background: black;
}

div.red-line {
	position: absolute;
	top: 91px;
	left: 3px;

	width: 294px;
	height: 1px;
	background: red;
}

div.bmc {
	background: black;
	display: flex;
	margin: 3px;
	margin-top: 1px;

	padding: 2px 0;
	user-select: none;

	img.coffee {
		height: 35px;
		padding: 8px 12px;
	}
	a.text {
		color: white;
		font-size: 16px;
		margin: auto 0;
		transform: translateY(-1px);
		cursor: pointer;
		text-decoration: none;

		span.bmc {
			font-weight: bold;
			text-decoration: underline;
		}
	}
}
